<!DOCTYPE html>

<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- This is the browser tab title -->
    <title>Sports counter</title>
</head>
<body style="color:black; font-weight: bold;" background="{{ url_for('static', filename='imgs/snowboarder.jpg') }}">
    <main>
        <h1>&#127938; Sports counter &#127938;</h1>
        <section>
            <form>
                <fieldset>
                    <legend>Select user:</legend>
                    <input type="text" placeholder="Enter your username" name="users">
                    <button value="select_user" name="action" id="select_user">Enter</button>
                </fieldset>
                <hr class="dashed">
                <label>Current count: </label><label id="counter"></label>
                <hr class="dashed">
                <button value="add" name="action" id="add_user">Add 1</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Copyright 2024 &#169; - Cecilia Barile</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</body>
</html>